//Colors

//Primary
$primary-color: hsl(26, 100%, 55%); //Orange
$second-primary-color: hsl(25, 100%, 94%); //Pale O
//Neutral
$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue : hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: #111;

//Typography
$font: 'Kumbh Sans', sans-serif;
$light-weight: 400;
$half-weight: 500;
$almost-weight : 600;
$bold-weight: 700;

//Colors Class
.primary-color{
    color: $primary-color;
}
.second-primary-color{
    color: $second-primary-color;
}
.very-dark-blue{
    color: $very-dark-blue;
}
.dark-grayish-blue{
    color: $dark-grayish-blue;
}
.light-grayish-blue{
    color: $light-grayish-blue;
}
.green{
    color: green;
}

//Button properties
@mixin product-btn-add{
    padding: 14px 0;
    border-radius: 30px;
    font-weight: $bold-weight;
    background-color: $light-grayish-blue;
}
@mixin product-btn{
    padding: 14px 0;
    border-radius: 10px;
    font-weight: $bold-weight;
    background-color: $light-grayish-blue;
}

// Generals settings
body{
    font-family: $font;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: $black;
    text-decoration: none;
}
td{
    border-bottom: unset;
}
.bold{
    font-weight: $bold-weight;
}
.half-bold{
    font-weight: $half-weight;
}
.almost-bold{
    font-weight: $almost-weight;
}
.light{
    font-weight: $light-weight;
}
.red{
    color: red;
}
.no-arrow::-webkit-inner-spin-button {
    display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.border-bottom-title{
    border-bottom: 1px solid #eee;
}

.last-seen-img{
    width: 100%;
}
.product-content{
    & h6{
        text-align: center;
    }
}
.z-index-to-back{
    z-index: -100;
}

.modal-test{
    &.show{
        background-color: rgba(0, 0, 0, 0.75);
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        @media screen and (max-width: 991.5px) {
            
        }
    }
}

//HEADER

header{
    box-shadow: 0 2px 2px 0 rgba(40, 73, 121, 0.08);
    & h1{
        border-bottom: 1px solid #eee;
    }
    & .navbar-brand{
        font-weight: 700;
        font-size: 30px;
    }
    & figure{
        position: relative;
        margin: 0;
        & img{
            height: 20px;
        }
    }
    & .fa-user{
        font-size: 21px;
    }
    & .fa-bag-shopping{
        font-size: 22px;
    }
    & figcaption{
        position: absolute;
        background-color: $primary-color;
        color: white;
        border-radius: 35px;
        top: 17px;
        display: flex;
        right: -11px;
        height: 14px;
        font-size: 12px;
        width: 23px;
        align-items: center;
        justify-content: center;
    }   
    & .active{
        font-weight: 700;
    }
    & .nav-link{
        color: $black;
    }
    .user-content{
        & a{
            width: 100px;
        }
    }
}

//MAIN
main{
    // &.show{
    //     background-color: rgba(0,0,0,0.9);
    // }
    .cart-content{
        position: relative;
        & #cart-info{
            padding: 41px 34px;
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            background-color: $white;
            z-index: 5;
            @media screen and (max-width: 991.5px) {
            width: 100%;
            }
        &.show{
            display: block;
        }
            & img{
                width: 87px;
            }
            & .top-product-content-cart{
                position: relative;
            }
            & .fa-xmark{
                position: absolute;
                right: 0;
                top: 12px;
                cursor: pointer;
            }
        }
        .action-btn-cart{
            text-align: center;
            @media screen and (max-width: 445px) {
                flex-direction: column;
            }
            & a{
                border-radius: 30px;
                &:first-of-type{
                    padding: 14px 20px;
                    background-color: $white;
                    color: $black;
                    border: 1px solid rgba(0, 0, 0, 0.427);
                    @media screen and (min-width: 991.5px) {
                        width: 60%;
                    }
                    @media screen and (min-width: 500px) and (max-width: 991.5px) {
                        width: 45%;
                    }
                    @media screen and (max-width: 445px) {
                        padding: 17px 20px;
                    }
                    &:hover{
                        border-color: $black;
                    }
                }
                &:last-of-type{
                    padding: 14px 39px;
                    background-color: $black;
                    color: $white;
                    @media screen and (min-width: 991.5px) and (max-width: 991.5px) {
                        width: unset;
                    }
                    @media screen and (min-width: 445px) {
                        width: 45%;
                    }
                    @media screen and (max-width: 445px) {
                        margin-top: 13px;
                        padding: 18px 47px;
                    }
                    &:hover{
                        background-color: #757575;
                    }
                }
            }
        }
    }
}

//RECAP
#recap{
    & .btn{
        width: 200px;
    }
    & .qtt{
        width: 70px;
        border-radius: unset;
        &:disabled{
            background-color: white;
        }
    }
    & .name{
        width: 100px;
    }
    & .price{
        width: 100px;
    }
    .arrow-container{
        background-color: black;
        width: 16px;
        & a{
            color: $white;
            &:hover{
                background-color: rgba(255, 255, 255, 0.50);
                color: black;
            }
        }
    }
}

#product{
    .img-fluid {
        z-index: -1;
        @media screen and (max-width: 992px) {
            max-width: 70%;
        }
    }
    #price{
        font-size: 24px;
    }
    .description{
        text-align: justify;
    }
    form{
        display: flex;
        flex-direction: column;
        & input{
            @include product-btn-add();
        }
        & input[type=number]{
            background-color: $light-grayish-blue;
            cursor: unset;
            @include product-btn();
        }
        & input[type=submit]{
            background-color: $primary-color;
            color: white;
        }
        select{
            @include product-btn();
        }
        .quantity-container, .select-container{
            width: 30%;
        }
        .container-qtt{
            display: flex;
            position: relative;
            & img{
                position: absolute;
                cursor: pointer;
                width: 15px;
            }
            #minus {
                top: 50%;
                left: 20px;
            }
            #plus{
                right: 20px;
                top: 39%;
            }
        }
        .container-add-cart{
            position: relative;
            display: flex;
            align-items: center;
            & img{
                position: absolute;
                width: 20px;
                left: 28%;
            }
        }
    }
}

#cart{
    .name{
        & a{
            width: fit-content;
        }
    }
    .detail-container{
        padding-top: 99px;
        & span{
            font-style: italic;
        }
    }
    .price, .quantity, .total-price{
        height: 222px;
        align-items: center;
    }
    .table-img{
        width: 165px;
    }
    .quantity-input-container{
        width: 95px;
        margin: auto;
    }
    .form-control:disabled, .form-control[readonly]{
        background-color: white;
    }
    .fa-trash{
        color: $black;
        &:hover{
            color: #0a58ca;
        }
    }
    .arrow-container {
        background-color: $black;
        width: 23px;
        & a{
            text-align: center;
            color: white;
            &:hover{
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}