/Exo_Améliorer-Appli-PHP_VG_V1.0 (1) (1).pdf
/Sup_Première-Appli-PHP_VG_V1.0 (1) (1).pdf
design/active-states-basket-empty.jpg
design/active-states-basket-filled.jpg
design/desktop-design-lightbox.jpg
design/mobile-design-basket-empty.jpg
design/mobile-design-basket-filled.jpg
design/mobile-design.jpg
design/desktop-preview.jpg
design/active-states-lightbox.jpg
design/mobile-menu.jpg
design/desktop-design.jpg
images/favicon-32x32.png
images/icon-close.svg
images/icon-delete.svg
images/icon-menu.svg
images/icon-minus.svg
images/icon-next.svg
images/icon-plus.svg
images/icon-previous.svg
images/image-product-1-thumbnail.jpg
images/image-product-2-thumbnail.jpg
images/image-product-2.jpg
images/image-product-3.jpg
images/image-product-4-thumbnail.jpg
images/image-product-4.jpg
images/logo.svg
images/image-product-3-thumbnail.jpg
images/image-product-1.jpg
images/image-avatar.png
style-guide.md
README-template.md
README.md
index.html
queries.sql