.primary-color {
  color: #ff7d1a;
}

.second-primary-color {
  color: #ffede0;
}

.very-dark-blue {
  color: #1d2025;
}

.dark-grayish-blue {
  color: #68707d;
}

.light-grayish-blue {
  color: #f7f8fd;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #222;
  text-decoration: none;
}

td {
  border-bottom: unset;
}

.bold {
  font-weight: 700;
}

.half-bold {
  font-weight: 500;
}

.almost-bold {
  font-weight: 600;
}

.light {
  font-weight: 400;
}

.red {
  color: red;
}

.no-arrow::-webkit-inner-spin-button {
  display: none;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.border-bottom-title {
  border-bottom: 1px solid #eee;
}

header h1 {
  border-bottom: 1px solid #eee;
}

header .navbar-brand {
  font-weight: 700;
  font-size: 30px;
}

header figure {
  position: relative;
  margin: 0;
}

header figure img {
  height: 20px;
}

header .fa-regular {
  font-size: 22px;
}

header figcaption {
  position: absolute;
  background-color: #ff7d1a;
  color: white;
  border-radius: 35px;
  top: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: -9px;
  height: 14px;
  font-size: 12px;
  width: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .active {
  font-weight: 700;
}

header .nav-link {
  color: #222;
}

header .user-content a {
  width: 100px;
}

#recap .btn {
  width: 200px;
}

#recap .qtt {
  width: 70px;
  border-radius: unset;
}

#recap .qtt:disabled {
  background-color: white;
}

#recap .name {
  width: 100px;
}

#recap .price {
  width: 100px;
}

#recap .arrow-container {
  background-color: black;
  width: 16px;
}

#recap .arrow-container a {
  color: white;
}

#recap .arrow-container a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

@media screen and (max-width: 992px) {
  #product .img-fluid {
    max-width: 70%;
  }
}

#product #price {
  font-size: 24px;
}

#product .description {
  text-align: justify;
}

#product form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#product form input {
  padding: 14px 0;
  border-radius: 10px;
  font-weight: 700;
  background-color: #f7f8fd;
}

#product form input[type=number] {
  background-color: #f7f8fd;
  cursor: unset;
}

#product form input[type=submit] {
  background-color: #ff7d1a;
  color: white;
}

#product form select {
  padding: 14px 0;
  border-radius: 10px;
  font-weight: 700;
  background-color: #f7f8fd;
}

#product form .quantity-container, #product form .select-container {
  width: 30%;
}

#product form .container-qtt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#product form .container-qtt img {
  position: absolute;
  cursor: pointer;
  width: 15px;
}

#product form .container-qtt #minus {
  top: 50%;
  left: 20px;
}

#product form .container-qtt #plus {
  right: 20px;
  top: 39%;
}

#product form .container-add-cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product form .container-add-cart img {
  position: absolute;
  width: 20px;
  left: 28%;
}

#cart .name a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#cart .detail-container {
  padding-top: 99px;
}

#cart .detail-container span {
  font-style: italic;
}

#cart .price, #cart .quantity, #cart .total-price {
  height: 222px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cart .table-img {
  width: 165px;
}

#cart .last-seen-img {
  width: 80%;
}

#cart .quantity-input-container {
  width: 95px;
  margin: auto;
}

#cart .form-control:disabled, #cart .form-control[readonly] {
  background-color: white;
}

#cart .fa-trash {
  color: #222;
}

#cart .fa-trash:hover {
  color: #0a58ca;
}

#cart .arrow-container {
  background-color: #222;
  width: 23px;
}

#cart .arrow-container a {
  text-align: center;
  color: white;
}

#cart .arrow-container a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/*# sourceMappingURL=style.css.map */