@media (min-width: 1200px) {
  .container {
    max-width: 1500px;
  }
}

.primary-color {
  color: #ff7d1a;
}

.second-primary-color {
  color: #ffede0;
}

.very-dark-blue {
  color: #1d2025;
}

.dark-grayish-blue {
  color: #68707d;
}

.light-grayish-blue {
  color: #f7f8fd;
}

.green {
  color: green;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #111;
  text-decoration: none;
}

td {
  border-bottom: unset;
}

.bold {
  font-weight: 700;
}

.half-bold {
  font-weight: 500;
}

.almost-bold {
  font-weight: 600;
}

.light {
  font-weight: 400;
}

.red {
  color: red;
}

.no-arrow::-webkit-inner-spin-button {
  display: none;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.border-bottom-title {
  border-bottom: 1px solid #eee;
}

.last-seen-img {
  width: 100%;
}

.content-last-seen-product strong {
  font-weight: 600;
}

.z-index-to-back {
  z-index: -100;
}

.modal-background.show {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

header {
  -webkit-box-shadow: 0 2px 2px 0 rgba(40, 73, 121, 0.08);
          box-shadow: 0 2px 2px 0 rgba(40, 73, 121, 0.08);
}

@media screen and (max-width: 400px) {
  header .name {
    display: none;
  }
}

header h1 {
  border-bottom: 1px solid #eee;
}

header .navbar-brand {
  font-weight: 700;
  font-size: 30px;
}

header figure {
  position: relative;
  margin: 0;
}

header figure img {
  height: 20px;
}

header .fa-user {
  font-size: 21px;
}

header .fa-bag-shopping {
  font-size: 22px;
}

header .fa-magnifying-glass {
  font-size: 20px;
}

header figcaption {
  position: absolute;
  background-color: #ff7d1a;
  color: white;
  border-radius: 35px;
  top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: -11px;
  height: 14px;
  font-size: 12px;
  width: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .active {
  font-weight: 700;
}

header .nav-link {
  color: #111;
}

main #slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 785px;
  background-color: #111;
}

main #slider h1 {
  color: white;
}

main .cart-content {
  position: relative;
}

main .cart-content #cart-info {
  padding: 41px 34px;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 5;
}

@media screen and (max-width: 991.5px) {
  main .cart-content #cart-info {
    width: 100%;
  }
}

main .cart-content #cart-info.show {
  display: block;
}

main .cart-content #cart-info img {
  width: 87px;
}

main .cart-content #cart-info .top-product-content-cart {
  position: relative;
}

main .cart-content #cart-info .fa-xmark {
  position: absolute;
  right: 0;
  top: 12px;
  cursor: pointer;
}

main .cart-content .action-btn-cart {
  text-align: center;
}

@media screen and (max-width: 445px) {
  main .cart-content .action-btn-cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .cart-content .action-btn-cart a {
  border-radius: 30px;
}

main .cart-content .action-btn-cart a:first-of-type {
  padding: 14px 20px;
  background-color: white;
  color: #111;
  border: 1px solid rgba(0, 0, 0, 0.427);
}

@media screen and (min-width: 991.5px) {
  main .cart-content .action-btn-cart a:first-of-type {
    width: 60%;
  }
}

@media screen and (min-width: 500px) and (max-width: 991.5px) {
  main .cart-content .action-btn-cart a:first-of-type {
    width: 45%;
  }
}

@media screen and (max-width: 445px) {
  main .cart-content .action-btn-cart a:first-of-type {
    padding: 17px 20px;
  }
}

main .cart-content .action-btn-cart a:first-of-type:hover {
  border-color: #111;
}

main .cart-content .action-btn-cart a:last-of-type {
  padding: 14px 39px;
  background-color: #111;
  color: white;
}

@media screen and (min-width: 991.5px) and (max-width: 991.5px) {
  main .cart-content .action-btn-cart a:last-of-type {
    width: unset;
  }
}

@media screen and (min-width: 445px) {
  main .cart-content .action-btn-cart a:last-of-type {
    width: 45%;
  }
}

@media screen and (max-width: 445px) {
  main .cart-content .action-btn-cart a:last-of-type {
    margin-top: 13px;
    padding: 18px 47px;
  }
}

main .cart-content .action-btn-cart a:last-of-type:hover {
  background-color: #757575;
}

@media screen and (min-width: 768px) {
  main #products .row {
    height: 112em;
  }
}

@media screen and (min-width: 991.5px) {
  main #products .row {
    height: 50em;
  }
}

@media screen and (min-width: 1200px) {
  main #products .row {
    height: 59em;
  }
}

@media screen and (min-width: 1400px) {
  main #products .row {
    height: 63em;
  }
}

@media screen and (min-width: 991.5px) {
  main #products .col-lg-3 {
    width: 20.5%;
  }
}

@media screen and (min-width: 991.5px) {
  main #account-details form {
    width: 75%;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  main #account-details form {
    width: 50%;
    margin: auto;
  }
}

main #account-info .btn {
  width: 100%;
}

@media screen and (min-width: 768px) {
  main #account-info .btn {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  main #account-info .btn {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  #login a[href="index.php?page=create-account"] {
    width: 74%;
  }
}

@media screen and (min-width: 991.5px) {
  #login a[href="index.php?page=create-account"] {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  #login #form .form-control {
    width: 74%;
  }
}

@media screen and (min-width: 991.5px) {
  #login #form .form-control {
    width: 35%;
  }
}

#product .img-fluid {
  z-index: -1;
}

@media screen and (max-width: 992px) {
  #product .img-fluid {
    max-width: 70%;
  }
}

#product #price {
  font-size: 24px;
}

#product .description {
  text-align: justify;
}

#product form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#product form input {
  padding: 14px 0;
  border-radius: 30px;
  font-weight: 700;
  background-color: #f7f8fd;
}

#product form input[type=number] {
  background-color: #f7f8fd;
  cursor: unset;
  padding: 14px 0;
  border-radius: 10px;
  font-weight: 700;
  background-color: #f7f8fd;
}

#product form input[type=submit] {
  background-color: #ff7d1a;
  color: white;
}

#product form select {
  padding: 14px 0;
  border-radius: 10px;
  font-weight: 700;
  background-color: #f7f8fd;
}

#product form .quantity-container, #product form .select-container {
  width: 30%;
}

#product form .container-qtt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#product form .container-qtt img {
  position: absolute;
  cursor: pointer;
  width: 15px;
}

#product form .container-qtt #minus {
  top: 50%;
  left: 20px;
}

#product form .container-qtt #plus {
  right: 20px;
  top: 39%;
}

#cart .name a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#cart .empty-cart-pb {
  padding-bottom: 25.2em;
}

#cart .detail-container {
  padding-top: 99px;
}

#cart .detail-container span {
  font-style: italic;
}

#cart .price, #cart .quantity, #cart .total-price {
  height: 222px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cart .table-img {
  width: 165px;
}

#cart .quantity-input-container {
  width: 95px;
  margin: auto;
}

#cart .form-control:disabled, #cart .form-control[readonly] {
  background-color: white;
}

#cart .fa-trash {
  color: #111;
}

#cart .fa-trash:hover {
  color: #0a58ca;
}

#cart .arrow-container {
  background-color: #111;
  width: 23px;
}

#cart .arrow-container a {
  text-align: center;
  color: white;
}

#cart .arrow-container a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#cart .btn-outline-dark {
  width: 60%;
}

#create-account form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

#create-account label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#create-account input {
  width: 35em;
  max-width: 100%;
}

#create-account .btn-dark {
  width: 25em;
  margin: auto;
}

footer {
  background-color: #111;
}

footer a {
  color: #6c757d;
}

.animation-fade-in-top {
  opacity: 1;
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */